header{
	border-style: solid;
	height: 230px;
}

.class0{
	position: relative;

	height: 200px;
	width: 100px;

}

.class1{
	position: relative;
	bottom: 150px;
}

.class2{
	list-style: none;
    padding-left: 300px;
    
}

.class3{

	position: relative;
	left: 300px;
	bottom: 70px;
	font-size: 50px;

}
